mixin profile-card()
  .col-md-4.col-sm-6.col-lg-4.mb-5.mb-lg-5(
    data-aos='fade-up'
    data-aos-delay=attributes.delay?attributes.delay:"600"
  )
    .testimony.text-center
      figure
        img.img-fluid(src="/static/images/profiles/"+attributes.image alt='Image')
      blockquote
        p.author.mb-0!= attributes.name
        p.text-muted.mb-4!= attributes.position
        p!= attributes.quote



+profile-card()(
  image="niket.jpg"
  name="Niket Paresh Ganatra"
  position="President"
  quote="Code, Eat, Dance, Repeat."
  delay="50"
)
+profile-card(
  image='vedanta.jpg'
  name="Vedanta Trivedi"
  position="General Secretary"
  quote="Talent wins games, but teamwork and intelligence wins championships"
  delay="100"
)
+profile-card(
  image='mansi.jpg'
  name="Mansi Parashar"
  position="Vice President"
  quote="Everything you can imagine is real"
  delay="200"
)
+profile-card(
  image='harsh.jpg'
  name="Harsh Sankar Naicker"
  position="Projects Head"
  quote="Hustle 24/7"
  delay="300"
)
+profile-card(
  image='kumkar.jpeg'
  name="Abhishek Kumkar"
  position="Technical Head"
  quote="{ I code to conquer }"
  delay="400"
)
+profile-card(
  image='mainak.jpg'
  name="Mainak Sengupta"
  position="Joint General Secretary"
  quote="When in doubt, Just code it out"
  delay="500"
)
+profile-card(
  image='rutu.jpg'
  name="Rutu Patel"
  position="Creative Head"
  quote="I dream. I hustle. I achieve."
)
+profile-card(
  image='yash.jpg'
  name="Yash Dekate"
  position="Creative Head"
  quote="Aesthetics? Hell yeah!"
)
+profile-card(
  image='ananya.png'
  name="Ananya Sajwan"
  position="Treasurer"
  quote="Purpose fuels Passion"
)
+profile-card(
  image='arjun.JPG'
  name="Arjun Sharma"
  position="Public Relations"
  quote="Integrity is doing it right even when no one's looking"
)
+profile-card(
  image='js.jpg'
  name="JS Abhishek"
  position="Operations Head"
  quote="The guy who gets things done"
)
